<form id="adminForm" action="/login" method="post" style="display: none;">
    <h2>Sign In</h2>
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <select name="userType">
        <option value="jobSeeker">Job Seeker</option>
        <option value="jobPoster">Job Poster</option>
    </select>
    <br />
    <button type="submit">Login</button>
</form>