<header>
    <div>
        <img src="./assets/LocalTalenthub.png" alt="Logo">
        <h1>Local TalentHub</h1>
    </div>
    <div class="options">
        <a href="#" onclick="toggleLoginForm()">Sign In</a>
        <a href="#" onclick="toggleSignupForm()">Sign Up</a>
    </div>
</header>