body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header img {
    height: 30px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
}

.options {
    display: flex;
    gap: 50px;
    margin-right: 40px;
}

.options a {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.options a:hover {
    background-color: #0056b3;
}

main {
    margin-top: 60px;
    /* Adjust margin to account for header height */
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    /* Adjust height to account for header height */
    background-image: url('/assets/Talenthub-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

input,
select,
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.form-container {
    text-align: left;
}

.signup_grid{
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

input[type="checkbox"] {
    margin-right: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
    overflow: hidden;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #af6262;
    color: #333;
}
tr {
    background-color: #996b6b;
    color: #333;
}
tr:hover {
    background-color: #ceb8b8;
}
.user-list {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.centered {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.admin_box{
    width: 100%;
    display: flex;
    flex-direction: column;
}